#navbar{
    background-color: rgb(243, 186, 190);
    height: 70px;
    display: flex ;
    justify-content: space-around;
    align-items: center;
}

#cat{
    width: 80px;
}

#liste{
    display: flex;
    list-style-type: none;
    text-decoration: none;

}
li{
    padding: 10px;
    
}

    

a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    
}
a:hover{
    color: aliceblue;
}
